name: Deploy Release to Azure

on:
  push:
    tags:
      - 'v*' # Only runs when you push a tag starting with "v"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and Push
        run: |
          # github.ref_name will be "v1.0.1"
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/ingredient-ai:${{ github.ref_name }} .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/ingredient-ai:${{ github.ref_name }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'resepin-api'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          # load the exact version that I just tagged
          images: '${{ secrets.ACR_LOGIN_SERVER }}/ingredient-ai:${{ github.ref_name }}'